{% extends 'base.html' %}
{% load staticfiles %}
{% block titlename %}HPFWMS-欢迎页{% endblock titlename %}
{% block boby %}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <blockquote class="layui-elem-quote">欢迎你：
                        <span class="x-red">{{user.username}}</span>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock boby %}
{# 网页主体右侧文件块 #}