{% extends 'base.html' %}
{% load staticfiles %}
{% block titlename %}HPFWMS-欢迎页{% endblock titlename %}
{% block nav %}
<div class="x-nav">
    <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a><cite>我的桌面</cite></a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
        onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
{% endblock nav %}
{# 网页主体上侧块 #}

{% block boby %}
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-body ">
                <blockquote class="layui-elem-quote">欢迎你：
                    <span class="x-red">{{user.username}}</span>
                </blockquote>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>浏览记录</legend>
                </fieldset>
                <table class="layui-table">
                    <tbody>
                        <tr>
                            <td>序列号</td>
                            <td>项目编号</td>
                            <td>工程名称</td>
                            <td>区域</td>
                            <td>用户</td>
                            <td>版本</td>
                            <td>开工纸</td>
                        <tr>
                        {% for pdsversion in pdsversion_li %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="#" onclick="top.xadmin.add_tab('{{ pdsversion.project.name }}', '{% url 'project:projectdetail' pdsversion.project.project_id %}')">{{ pdsversion.project.project_id }}</a</td>
                            <td>{{ pdsversion.project.name }}</td>
                            <td>{{ pdsversion.project.get_projectlocation_display }}</td>
                            <td>{{ pdsversion.project.user.username }}</td>
                            <td><a href="#" onclick="top.xadmin.add_tab_version('版本编辑页面', '{% url 'PDS:editpdsversion' pdsversion.project.project_id pdsversion.id %}')">{{ pdsversion.name }}</a></td>
                            <td><a href="#" onclick="top.xadmin.add_tab('{{ pdsversion.project.name }}-查看开工纸', '{% url 'project:viewpds' pdsversion.project.project_id pdsversion.id %}')">查看PDS</a></td>
                        <tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock boby %}
{# 网页主体右侧文件块 #}

