{% extends 'base.html' %}
{% load staticfiles %}
{% block titlename %}HPFWMS-新建项目{% endblock titlename %}
{% block boby %}
<div class="layui-fluid">
  <form method="post" class="layui-form">
    {% csrf_token %}
    <input type="hidden" name="model_id" value="{{model.id}}">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
      <legend>资料</legend>
    </fieldset>
    <div class="layui-row">
      <div class="layui-col-xs4">
        <div class="layui-form-item">
          <label class="layui-form-label">型号名称</label>
          <div class="layui-input-block">
            <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input"
              lay-verify="required" value="{{model.name}}">
          </div>
        </div>
      </div>
      <div class="layui-col-xs4">
        <div class="layui-form-item">
          <label class="layui-form-label">系列</label>
          <div class="layui-input-block">
            <select name="series" lay-filter="series" lay-verify="required">
              <option value=""></option>
              {% for key, value in series_choices %}
              <option value="{{ key }}" {% if model.series == key %} selected="selected" {% endif %}>{{ value }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="layui-col-xs4">
        <div class="layui-form-item">
          <label class="layui-form-label">特征描述</label>
          <div class="layui-input-block">
            <input type="text" name="desc" placeholder="请输入" autocomplete="off" class="layui-input"
              lay-verify="required" value="{{model.desc}}">
          </div>
        </div>
      </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
      <legend>顶部</legend>
    </fieldset>
    <div class="layui-row">
      <div class="layui-col-xs4">
        <div class="layui-form-item">
          <label class="layui-form-label">顶部虚位</label>
          <div class="layui-input-block">
            <input type="text" name="top_clearance" placeholder="请输入" autocomplete="off" class="layui-input"
              lay-verify="required" value="{{model.top_clearance}}">
          </div>
        </div>
      </div>
      <div class="layui-col-xs4">
        <div class="layui-form-item">
          <label class="layui-form-label">顶部选项</label>
          <div class="layui-input-block">
            <select name="top_option" lay-filter="top_option" lay-verify="required">
              <option value=""></option>
              {% for key, value in top_option_choices %}
              <option value="{{ key }}" {% if model.top_option == key %} selected="selected" {% endif %}>{{ value }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
      <legend>中部</legend>
    </fieldset>
    <div class="layui-row">
      <div class="layui-col-xs4">
        <div class="layui-form-item">
          <label class="layui-form-label">基本板材</label>
          <div class="layui-input-block">
            <select name="basic_material" lay-filter="basic_material" lay-verify="required">
              <option value=""></option>
              {% for key, value in basic_material_choices %}
              <option value="{{ key }}" {% if model.basic_material == key %} selected="selected" {% endif %}>{{ value }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="layui-col-xs4">
        <div class="layui-form-item">
          <label class="layui-form-label">钢板</label>
          <div class="layui-input-block">
            <select name="steel_plate" lay-filter="steel_plate" lay-verify="required">
              <option value=""></option>
              {% for key, value in steel_plate_choices %}
              <option value="{{ key }}" {% if model.steel_plate == key %} selected="selected" {% endif %}>{{ value }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="layui-col-xs4">
        <div class="layui-form-item">
          <label class="layui-form-label">岩棉</label>
          <div class="layui-input-block">
            <input type="radio" name="rockwool" value="1" title="有" {% if model.rockwool == 1 or not model %} checked
              {% endif %}>
            <input type="radio" name="rockwool" value="0" title="无" {% if model.rockwool == 0 %} checked {% endif %}>
          </div>
        </div>
      </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
      <legend>底部</legend>
    </fieldset>
    <div class="layui-row">
      <div class="layui-col-xs4">
        <div class="layui-form-item">
          <label class="layui-form-label">底部虚位</label>
          <div class="layui-input-block">
            <input type="text" name="bottom_clearance" placeholder="请输入" autocomplete="off" class="layui-input"
              lay-verify="required" value="{{model.bottom_clearance}}">
          </div>
        </div>
      </div>
      <div class="layui-col-xs4">
        <div class="layui-form-item">
          <label class="layui-form-label">底胶</label>
          <div class="layui-input-block">
            <select name="bottom_option" lay-filter="top_option" lay-verify="required">
              <option value=""></option>
              {% for key, value in bottom_option_choices %}
              <option value="{{ key }}" {% if model.bottom_option == key %} selected="selected" {% endif %}>{{ value }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="add">保存</button>
      </div>
    </div>
  </form>
</div>
{% endblock boby %}
{# 网页主体块 #}

{% block bottomfiles %}
<script>layui.use(['form', 'layer', 'jquery'],
    function () {
      $ = layui.jquery;
      var form = layui.form,
        layer = layui.layer;

      //监听提交
      form.on('submit(add)',
        function (data) {
          data.field.csrfmiddlewaretoken = $("[name='csrfmiddlewaretoken']").val()
          model_id = $("[name='model_id']").val()
          //ajax请求
          $.post("{% url 'standard:models' %}?model_id=" + model_id, data.field, function (data) {
            if (data.res == 2) {
              layer.alert("保存成功", {
                icon: 6
              },
                function () {
                  //关闭当前frame
                  xadmin.close();

                  // 可以对父窗口进行刷新 
                  xadmin.father_reload();
                });
            }
            else {
              // 数据验证有问题
              layer.msg(data.errmsg, {
                time: 2000, //2s后自动关闭
              });
            }

          })
          return false;
        });

    });</script>
{% endblock bottomfiles %}
{# 网页底部引入块 #}