{% extends 'base.html' %}
{% load staticfiles %}
{% block titlename %}HPFWMS-新建项目{% endblock titlename %}
{% block bodyclass %} {% endblock bodyclass %}
{% block boby %}
<div class="layui-fluid">
  <form method="post" class="layui-form">
    {% csrf_token %}
    <input type="hidden" name="modelid" value="{{model.id}}">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
      <legend>资料</legend>
    </fieldset>
    <div class="layui-row">
      <div class="layui-col-xs4">
        <div class="layui-form-item">
          <label class="layui-form-label">型号名称</label>
          <div class="layui-input-block">
            <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required" value="{{model.name}}">
          </div>
        </div>
      </div>
      <div class="layui-col-xs4">
        <div class="layui-form-item">
          <label class="layui-form-label">系列</label>
          <div class="layui-input-block">
            <select name="series" lay-filter="series">
              <option value=""></option>
              <option value="0" {% if model.series == 0 %} selected="selected" {% endif %} >CT680</option>
              <option value="1" {% if model.series == 1 %} selected="selected" {% endif %} >5000</option>
              <option value="2" {% if model.series == 2 %} selected="selected" {% endif %} >600</option>
            </select>
          </div>
        </div>
      </div>
      <div class="layui-col-xs4">
        <div class="layui-form-item">
          <label class="layui-form-label">特征描述</label>
          <div class="layui-input-block">
            <input type="text" name="desc" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required" value="{{model.desc}}">
          </div>
        </div>
      </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
      <legend>顶部</legend>
    </fieldset>
    <div class="layui-row">
      <div class="layui-col-xs4">
        <div class="layui-form-item">
          <label class="layui-form-label">顶部虚位</label>
          <div class="layui-input-block">
            <input type="text" name="top_clearance" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required" value="{{model.top_clearance}}" >
          </div>
        </div>
      </div>
      <div class="layui-col-xs4">
        <div class="layui-form-item">
          <label class="layui-form-label">顶胶</label>
          <div class="layui-input-block">
            <input type="radio" name="top_seal" value="1" title="有" {% if model.top_seal == 1 %} checked {% endif %} >
            <input type="radio" name="top_seal" value="0" title="无" {% if model.top_seal == 0 %} checked {% endif %} >
          </div>
        </div>
      </div>
      <div class="layui-col-xs4">
        <div class="layui-form-item">
          <label class="layui-form-label">顶撑</label>
          <div class="layui-input-block">
            <input type="radio" name="top_mechanism" value="1" title="有" {% if model.top_mechanism == 1 %} checked {% endif %} >
            <input type="radio" name="top_mechanism" value="0" title="无" {% if model.top_mechanism == 0 %} checked {% endif %} >
          </div>
        </div>
      </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
      <legend>中部</legend>
    </fieldset> 
    <div class="layui-row">
      <div class="layui-col-xs4">
        <div class="layui-form-item">
          <label class="layui-form-label">基本板材</label>
          <div class="layui-input-block">
            <select name="basic_material" lay-filter="basic_material">
              <option value=""></option>
              <option value="0" {% if model.basic_material == 0 %} selected="selected" {% endif %} >石膏板</option>
              <option value="1" {% if model.basic_material == 1 %} selected="selected" {% endif %} >木夹板</option>
              <option value="2" {% if model.basic_material == 2 %} selected="selected" {% endif %} >无</option>
            </select>
          </div>
        </div>
      </div>
      <div class="layui-col-xs4">
        <div class="layui-form-item">
          <label class="layui-form-label">钢板</label>
          <div class="layui-input-block">
            <select name="steel_plate" lay-filter="steel_plate">
              <option value=""></option>
              <option value="0" {% if model.steel_plate == 0 %} selected="selected" {% endif %} >内</option>
              <option value="1" {% if model.steel_plate == 1 %} selected="selected" {% endif %} >外</option>
              <option value="2" {% if model.steel_plate == 2 %} selected="selected" {% endif %} >无</option>
            </select>
          </div>
        </div>
      </div>
      <div class="layui-col-xs4">
        <div class="layui-form-item">
          <label class="layui-form-label">岩棉</label>
          <div class="layui-input-block">
            <input type="radio" name="rockwool" value="1" title="有" {% if model.rockwool == 1 %} checked {% endif %} >
            <input type="radio" name="rockwool" value="0" title="无" {% if model.rockwool == 0 %} checked {% endif %} >
          </div>
        </div>
      </div>
    </div>
      <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>底部</legend>
      </fieldset> 
    <div class="layui-row">
        <div class="layui-col-xs4">
        <div class="layui-form-item">
          <label class="layui-form-label">底部虚位</label>
          <div class="layui-input-block">
            <input type="text" name="bottom_clearance" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required"  value="{{model.bottom_clearance}}">
          </div>
        </div>
      </div>
      <div class="layui-col-xs4">
        <div class="layui-form-item">
          <label class="layui-form-label">底胶</label>
          <div class="layui-input-block">
            <input type="radio" name="bottom_seal" value="1" title="有" checked>
            <input type="radio" name="bottom_seal" value="0" title="无">
          </div>
        </div>
      </div>
      <div class="layui-col-xs4">
        <div class="layui-form-item">
          <label class="layui-form-label">底撑</label>
          <div class="layui-input-block">
            <input type="radio" name="bottom_mechanism" value="1" title="有" {% if model.bottom_mechanism == 1 %} checked {% endif %} >
            <input type="radio" name="bottom_mechanism" value="0" title="无" {% if model.bottom_mechanism == 0 %} checked {% endif %} >
          </div>
        </div>
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="add">保存</button>
      </div>
    </div>
    </form>
</div>
{% endblock boby %}
{# 网页主体块 #}

{% block bottomfiles %}
<script>layui.use(['form', 'layer', 'jquery'],
    function () {
      $ = layui.jquery;
      var form = layui.form,
        layer = layui.layer;

      //监听提交
      form.on('submit(add)',
        function (data) {
          data.field.csrfmiddlewaretoken = $("[name='csrfmiddlewaretoken']").val()
          data.field.id = $("[name='modelid']").val()
          //ajax请求
          $.post("{% url 'standard:modelsedit' %}", data.field, function (data) {
            if (data.res == 2) {
              layer.alert("保存成功", {
                icon: 6
              },
                function () {
                  //关闭当前frame
                  xadmin.close();

                  // 可以对父窗口进行刷新 
                  xadmin.father_reload();
                });
            }
            else {
              // 数据验证有问题
              layer.msg(data.errmsg, {
                time: 2000, //2s后自动关闭
              });
            }

          })
          return false;
        });

    });</script>
{% endblock bottomfiles %}
{# 网页底部引入块 #}
