{# 登陆 注册 #}
{% load staticfiles %}
<!doctype html>
<html  class="x-admin-sm">
<head>
	<meta charset="UTF-8">
	<title>HPFWMS 1.0</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/xadmin.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'lib/layui/layui.js' %}" charset="utf-8"></script>
    {% block topfiles %}{% endblock topfiles %}
    {# 网页顶部引入文件块 #}

</head>
<body class="login-bg">
    <div class="login layui-anim layui-anim-up">
        <div class="message">{% block title %}{% endblock title %}</div>
        {# 网页标题内容块 #}
        <div id="darkbannerwrap"></div>
        {% block form %}{% endblock form %}
    </div>
    {% block bottomfiles %}{% endblock bottomfiles %}
</body>
</html>