{% extends 'base.html' %}
{% load staticfiles %}
{% block titlename %}HPFWMS-新建项目第一步{% endblock titlename %}
{% block boby %}
<div class="layui-fluid">
  <div class="layui-row layui-col-space10" >
    <div class="layui-col-xs4">
      <button type="button" class="layui-btn layui-btn-lg" style="width:100%;">STEP1 基础资料</button>
    </div>
    <div class="layui-col-xs4">
      <button type="button" class="layui-btn layui-btn-primary layui-btn-lg" style="width:100%;">STEP2 屏风细节</button>
    </div>
    <div class="layui-col-xs4">
      <button type="button" class="layui-btn layui-btn-primary layui-btn-lg" style="width:100%;">STEP3 补充资料</button>
    </div>
  </div>
  <form method="post" class="layui-form">
    {% csrf_token %}
    <input type="hidden" name="project_id" value="{{project_id}}">
    <input type="hidden" name="panelset_id" value="{{panelset.id}}">
    <div class="layui-row" style="margin-top: 20px;">
        <div class="layui-form-item">
          <label class="layui-form-label">区域名称</label>
          <div class="layui-input-block">
            <input type="text" name="location" placeholder="请输入" class="layui-input" autocomplete="off" value="{{panelset.location}}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">屏风编号</label>
          <div class="layui-input-block">
            <input type="text" name="mark" placeholder="请输入" class="layui-input" autocomplete="off" lay-verify="required" value="{{panelset.mark}}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">组数</label>
          <div class="layui-input-block">
            <input type="text" name="sets" placeholder="请输入" autocomplete="off" class="layui-input"lay-verify="required|number" value="{{panelset.sets}}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">出厂时间</label>
          <div class="layui-input-block">
            <input type="text" name="production_time" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required|date" id="production_time" value="{{ panelset.production_time | date:'Y-m-d' }}">
          </div>
        </div>
        <div class="layui-form-item">
          <input type="hidden" name="model_id" value="{{panelset.model.id}}">
          <input type="hidden" name="model_wheel_type" value="{{ panelset.model.get_wheel_type_display }}">
          <input type="hidden" name="model_series" value="{{ panelset.model.get_series_display }}">
          <label class="layui-form-label">屏风型号</label>
          <div class="layui-input-block" >
            <input type="text" name="model" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required" id="model_pick" value="{{panelset.model.name}}">
            <div id="div_model" style="display :none ;">
              <table id="demo" lay-filter="test"></table>
              <script type="text/html" id="test-table-radio-toolbarDemo">
                <div class="layui-btn-container">
                  <button class="layui-btn layui-btn-sm" type="button" lay-event="getCheckData">获取选中行数据</button>
                </div>
              </script>
            </div>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">标准高度</label>
          <div class="layui-input-block">
            <input type="text" name="height" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required|number" value="{{ panelset.height }}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">标准长度</label>
          <div class="layui-input-block">
            <input type="text" name="width" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required|number" value="{{ panelset.width }}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">摇手柄数量</label>
          <div class="layui-input-block">
            <input type="text" name="handle_quantity" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required|number" value="{{ panelset.handle_quantity }}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">装饰面厚度</label>
          <div class="layui-input-block">
            <input type="text" name="decoration_thickness" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required|number" value="{{ panelset.decoration_thickness }}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">轮子</label>
          <div class="layui-input-block">
            <select name="wheel" lay-verify="required" id="wheel">
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">隔音测试</label>
          <div class="layui-input-block">
            <select name="sound_test" lay-verify="required" id="sound_test">
              <option value=""></option>
              {% for key, value in Panelsets.SOUND_TEST_CHOICES %}
                <option value="{{ key }}" {% if panelset.sound_test == key %} selected="selected" {% endif %} >{{ value }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      <div class="layui-col-xs12" {% if not panelset.model.get_series_display == "600" %} style="display:none;" {% endif %} id="structure">
        <div class="layui-form-item">
          <label class="layui-form-label">屏风结构</label>
          <div class="layui-input-block">
            <select name="face_structure" lay-verify="required" id="face_structure">
              <option value=""></option>
              {% for key, value in Panelsets.FACE_STRUCTURE_CHOICES %}
                <option value="{{ key }}" {% if panelset.face_structure == key %} selected="selected" {% endif %} >{{ value }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
        <div class="layui-form-item">
          <label class="layui-form-label">边框颜色</label>
          <div class="layui-input-block">
              <input type="text" name="frame_color" autocomplete="off" placeholder="请输入" class="layui-input" lay-verify="required" value="{{ panelset.frame_color }}" list="frame">
              <datalist id="frame">
                <option value="Clear Anodized(银白色)">
              </datalist>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">横驳条分别</label>
          <div class="layui-input-block">
              <input type="text" name="splicer" autocomplete="off" placeholder="请输入" class="layui-input" lay-verify="required" value="{{ panelset.splicer }}" list="splicer">
              <datalist id="splicer">
                <option value="None(无横驳条)">
                <option value="Aline with top of I.P.D.(与门中门门顶平齐)">
                <option value="2400">
                <option value="4800">
                <option value="7200">
                <option value="2400 , 4800">
              </datalist>
          </div>
        </div>
      </div>
        <div class="layui-form-item" align="right">
            <button class="layui-btn" lay-submit lay-filter="add" style="width:10%;">保存</button>
            <button class="layui-btn" onclick="next_step()" type="button" style="width:10%;">下一步</button>
        </div>
    </div>
  </form>
</div>
{% endblock boby %}
{# 网页主体块 #}

{% block bottomfiles %}

<script>
  layui.use('laydate',
    function () {
      var layer = layui.layer, form = layui.form, laydate = layui.laydate;

      //执行一个laydate实例
      laydate.render({
        elem: '#production_time' //指定元素
        , min: 0 //限制时间
      });

    });
  //一般直接写在一个js文件中
  layui.use(['layer', 'form'], function () {
    var form = layui.form, $ = layui.$;
    add_wheel_option()
    structure()
    form.render();
  });

  function add_wheel_option() {
    $("#wheel").empty();
    $("#wheel").append("<option value=''></option>");
    if ($("[name='model_wheel_type']").val() == "多向式") {
      {% for key, value in Panelsets.OMNI_WHEEL_CHOICES %}
      $("#wheel").append("<option value='{{ key }}'{% if panelset.wheel == key %} selected='selected'{% endif %}>{{ value }}</option>");
      {% endfor %}
    } else {
      {% for key, value in Panelsets.PAIR_WHEEL_CHOICES %}
      $("#wheel").append("<option value='{{ key }}'{% if panelset.wheel == key %} selected='selected'{% endif %}>{{ value }}</option>");
      {% endfor %}
    }
  }
  //隐藏600易面固面选择。 
  function structure() {
    if ($("[name='model_series']").val() == "600") {
      $("#structure").attr("style", "display:block");
    }
    else {
      $("#structure").attr("style", "display:none");
      $("[name='face_structure']").val("0");
    }
  }

  layui.use('table', function () {
    var table = layui.table, form = layui.form, $ = layui.$;
    table.render({
      elem: '#demo'
      , height: 400
      , url: "{% url 'standard:modelsdata' %}" //数据接口
      // , page: true //开启分页
      ,parseData: function(res){ //res 即为原始返回的数据
      // console.log(res)
        model_id = $("[name='model_id']").val();
        $.each(res.data, function (i,data) {
            // console.log(data)
          if (data["id"] == model_id) {
            data.LAY_CHECKED=true;
            return false;
          }
        })
        return {
          "code": res.code, //解析接口状态
          "msg": res.msg, //解析提示文本
          "count": res.count, //解析数据长度
          "data": res.data //解析数据列表
        };
      }
      , cols: [[ //表头
        { type: 'radio' ,width:60}
        , { field: 'id', title: 'ID' ,width:80}
        , { field: 'name', title: '型号名称' ,width:120}
        , { field: 'series', title: '系列' ,width:80}
        , { field: 'desc', title: '型号描述' }
        , { field: 'wheel_type', title: '屏风类型' ,width:80}
        , { field: 'bottom_option', title: '底部' ,width:150}
        , { field: 'bottom_clearance', title: '底部虚位', width:80, templet: function (d) { return d.top_clearance + "mm" } }
        , { field: 'basic_material', title: '基本板材' ,width:80}
        , { field: 'steel_plate', title: '钢板' ,width:80}
      ]]
      , toolbar: '#test-table-radio-toolbarDemo'
    });
    //头工具栏事件
    table.on('toolbar(test)', function (obj) {
      var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
      switch (obj.event) {
        case 'getCheckData':
          var data = checkStatus.data;  //获取选中行数据
          model_id = data[0].id;
          model_wheel_type = data[0].wheel_type;
          // console.log(model_wheel_type);
          model_series = data[0].series;
          model_name = data[0].name;
          $("[name='model_id']").val(model_id);
          $("[name='model_wheel_type']").val(model_wheel_type);
          $("[name='model_series']").val(model_series);
          $("#model_pick").val(model_name);
          add_wheel_option();
          structure();
          $("#div_model").slideUp();
          form.render();
          break;
      };
    });

    //监听提交
    form.on('submit(add)',
      function (data) {
        data.field.csrfmiddlewaretoken = $("[name='csrfmiddlewaretoken']").val()
        data.field.project_id = $("[name='project_id']").val()
        data.field.model_id = $("[name='model_id']").val()
        data.field.panelset_id = $("[name='panelset_id']").val()
        if ($("[name='model_series']").val()=="600" && $("[name='face_structure']").val()=="0") {
          layer.msg("请选取600钢结构", {
              time: 2000, //2s后自动关闭
            });
            $("[name='face_structure']").val("");
            form.render();
            return false;
        }
        //ajax请求
        $.post("{% url 'PDS:panelsetsadd' %}", data.field, function (data) {
          if (data.res == 2) {
            layer.alert("保存成功", {
              icon: 6,
              time: 2000, //2s后自动关闭
            },
              function () {
                // xadmin.close();
                // 写panelset_id,
                $("[name='panelset_id']").val(data.panelset_id);
              });
          }
          else {
            // 数据验证有问题
            layer.msg(data.errmsg, {
              time: 2000, //2s后自动关闭
            });
          }
        })
        return false;
      });
  });

  // 这个函数用于下一页按钮,作用是把保存与下一页分开。
  function next_step() {
    if ($("[name='panelset_id']").val() == "") {
      layer.msg("请保存基础资料", {
        time: 2000, //2s后自动关闭
      });
    }
    else {
      panelset_id = $("[name='panelset_id']").val()
      window.location.href = "{% url 'PDS:panelsetsaddsetp2' %}?panelset_id=" + panelset_id;
    }
  }

</script>

<script type="text/javascript">
  var $ = layui.jquery, form = layui.form;
  $("#model_pick").focus(function () {
    $("#div_model").slideDown();
  })
  $(".layui-input").not("#model_pick").focus(function () {
    $("#div_model").slideUp();
  })
</script>

{% endblock bottomfiles %}
{# 网页底部引入块 #}
