{% extends 'base.html' %}
{% load staticfiles %}
{% block titlename %}HPFWMS-新建组 第二步{% endblock titlename %}
{% block topfiles %}
<style type="text/css">
  .layui-table {
    text-align: center;
  }
</style>
{% endblock topfiles %}
{% block boby %}
<div class="layui-fluid">
    {% csrf_token %}
  <div class="layui-row layui-col-space10">
    <div class="layui-col-xs4">
      <button type="button" class="layui-btn layui-btn-lg" style="width:100%;">STEP1 基础资料</button>
    </div>
    <div class="layui-col-xs4">
      <button type="button" class="layui-btn layui-btn-lg" style="width:100%;">STEP2 屏风细节</button>
    </div>
    <div class="layui-col-xs4">
      <button type="button" class="layui-btn layui-btn-primary layui-btn-lg" style="width:100%;">STEP3 补充资料</button>
    </div>
  </div>
  <div class="layui-row " style="margin-top: 20px;">
    <button class="layui-btn" type="button"
      onclick="xadmin.open('新建屏风','{% url 'PDS:panelsadd' %}?panelset_id='+{{panelset_id}},600,600)"
      style="width:10%;">添加屏风</button>
  </div>
  <div class="layui-row" style="margin-top: 20px;">
    {% for panel in panels %}
    <div class="layui-col-xs2" id="panel_div_{{panel.id}}" >
      <table class="layui-table" lay-size="sm">
        <tbody>
          <tr><td>{{ panel.panle_no }}</td></tr>
          <tr><td>{{ panel.quantity }}</td></tr>
          <tr><td>{{ panel.carrier_space }}</td></tr>
          <tr><td>
              <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='128' width='128'>
                <g stroke='black' stroke-width='1.5' fill='none'>
                  {{ panel.panel_pic.leftside.svgcode | safe}}
                  {{ panel.panel_pic.middle.svgcode | safe}}
                  {{ panel.panel_pic.rightside.svgcode | safe}}
                  {{ panel.panel_pic.wheel.svgcode | safe}}
                </g>
              </svg>
            </td></tr>
          <tr><td>{{ panel.panel_width }}</td></tr>
          <tr><td>{{ panel.get_panel_type_display }}</td></tr>
          <tr><td>
              <button class='layui-btn layui-btn-xs'
                onclick="xadmin.open('新建屏风','{% url 'PDS:panelsadd' %}?panel_id='+{{panel.id}},600,600)">编辑</button>
              <button class='layui-btn layui-btn-danger layui-btn-xs ' onclick="delete_botton({{panel.id}})">删除</button>
            </td></tr>
        </tbody>
      </table>
    </div>
    {% endfor %}
  </div>
  <div class="layui-row layui-col-space10" align="right" style="margin-top: 20px;">
    <button class="layui-btn" onclick="prev_step()" style="width:10%;">上一步</button>
    <button class="layui-btn" onclick="" style="width:10%;">完成</button>
  </div>
</div>
{% endblock boby %}
{# 网页主体块 #}

{% block bottomfiles %}
<script type="text/javascript">
  // 这个函数用于上一页按钮。
  function prev_step() {
    window.location.href = "{% url 'PDS:panelsetsadd' %}?panelset_id=" + {{ panelset_id }};
  }

  function delete_botton(panel_id) {
    layer.confirm('真的删除此屏风么', function (index) {
      csrfmiddlewaretoken = $("[name='csrfmiddlewaretoken']").val();
      $.post("{% url 'PDS:panelsdelete' %}", {'csrfmiddlewaretoken':csrfmiddlewaretoken,'panel_id':panel_id} , function (data) {
        if (data.res == 2) {
          $("#panel_div_"+panel_id).remove(); //删除对应行（tr）的DOM结构，并更新缓存
          layer.close(index);
        }
        else {
        // 数据验证有问题
        layer.msg(data.errmsg, {
            time: 2000, //2s后自动关闭
        });
        }
      });
    });
  }
</script>
{% endblock bottomfiles %}s
{# 网页底部引入块 #}