{% extends 'base.html' %}
{% load staticfiles %}
{% block titlename %}HPFWMS-新建项目第一步{% endblock titlename %}
{% block topfiles %}
<link rel="stylesheet" href="{% static 'css/formSelects-v4.css' %}" />
<script type="text/javascript" src="{% static 'lib/layui/layui.all.js' %}" charset="utf-8"> </script>
<script type="text/javascript" src="{% static 'lib/layui/tableSelect.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'lib/layui/formSelects-v4.js' %}" charset="utf-8"></script>
{% endblock topfiles %}
{# 网页顶部引入文件块 #}
{% block bodyclass %} {% endblock bodyclass %}
{% block boby %}
<div class="layui-fluid">
  <div class="layui-row layui-col-space10" >
    <div class="layui-col-xs4">
      <button type="button" class="layui-btn layui-btn-lg" style="width:100%;">STEP1 基础资料</button>
    </div>
    <div class="layui-col-xs4">
      <button type="button" class="layui-btn layui-btn-primary layui-btn-lg" style="width:100%;">STEP2 屏风细节</button>
    </div>
    <div class="layui-col-xs4">
      <button type="button" class="layui-btn layui-btn-primary layui-btn-lg" style="width:100%;">STEP3 补充资料</button>
    </div>
  </div>
  <form method="post" class="layui-form">
    {% csrf_token %}
    <input type="hidden" name="project_id" value="{{project_id}}">
    <input type="hidden" name="panelset_id" value="{{panelset.id}}">
    <div class="layui-row" style="margin-top: 20px;">
      <div class="layui-col-xs8 layui-col-xs-offset2">
        <div class="layui-form-item">
          <label class="layui-form-label">屏风编号</label>
          <div class="layui-input-block">
            <input type="text" name="mark" placeholder="请输入" autocomplete="off" class="layui-input"
              lay-verify="required" value="{{panelset.mark}}">
          </div>
        </div>
      </div>
      <div class="layui-col-xs8 layui-col-xs-offset2">
        <div class="layui-form-item">
          <label class="layui-form-label">组数</label>
          <div class="layui-input-block">
            <input type="text" name="sets" placeholder="请输入" autocomplete="off" class="layui-input"
              lay-verify="required|number" value="{{panelset.sets}}">
          </div>
        </div>
      </div>
      <div class="layui-col-xs8 layui-col-xs-offset2">
        <div class="layui-form-item">
          <label class="layui-form-label">出厂时间</label>
          <div class="layui-input-block">
            <input type="text" name="production_time" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required|date" id="production_time" value="{{ panelset.production_time | date:'Y-m-d' }}">
          </div>
        </div>
      </div>
      <div class="layui-col-xs8 layui-col-xs-offset2">
        <div class="layui-form-item">
          <input type="hidden" name="model_id" value="{{panelset.model.id}}">
          <input type="hidden" name="model_wheel_type" value="{{panelset.model.get_wheel_type_display}}">
          <input type="hidden" name="model_series" value="{{panelset.model.get_series_display }}">
          <label class="layui-form-label">屏风型号</label>
          <div class="layui-input-block">
            <input type="text" name="model" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required" id="model_pick" value="{{panelset.model.name}}">
          </div>
        </div>
      </div>
      <div class="layui-col-xs8 layui-col-xs-offset2">
        <div class="layui-form-item">
          <label class="layui-form-label">标准高度</label>
          <div class="layui-input-block">
            <input type="text" name="height" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required|number" value="{{panelset.height}}">
          </div>
        </div>
      </div>
      <div class="layui-col-xs8 layui-col-xs-offset2">
        <div class="layui-form-item">
          <label class="layui-form-label">标准长度</label>
          <div class="layui-input-block">
            <input type="text" name="width" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required|number" value="{{panelset.width}}">
          </div>
        </div>
      </div>
      <div class="layui-col-xs8 layui-col-xs-offset2">
        <div class="layui-form-item">
          <label class="layui-form-label">轮子</label>
          <div class="layui-input-block">
            <select name="wheel" lay-verify="required" id="wheel" xm-select="wheel" xm-select-radio="">
              <!-- {% for key, value in wheel_choices %}
                <option value="{{ key }}" {% if panelset.wheel == key %} selected="selected" {% endif %} >{{ value }} </option>
              {% endfor %} -->
            </select>
          </div>
        </div>
      </div>
      <div class="layui-col-xs8 layui-col-xs-offset2">
        <div class="layui-form-item">
          <label class="layui-form-label">隔音测试</label>
          <div class="layui-input-block">
            <select name="sound_test" lay-verify="required" xm-select="sound_test" xm-select-radio="">
              {% for key, value in sound_test %}
                <option value="{{ key }}" {% if panelset.sound_test == key %} selected="selected" {% endif %} >{{ value }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="layui-col-xs8 layui-col-xs-offset2" {% if not panelset.model.get_series_display == "600" %} style="display:none;" {% endif %} id="structure">
        <div class="layui-form-item">
          <label class="layui-form-label">屏风结构</label>
          <div class="layui-input-block">
            <select name="face_structure" xm-select="face_structure" xm-select-radio="" id="face_structure">
              {% for key, value in face_structure %}
                <option value="{{ key }}" {% if panelset.face_structure == key %} selected="selected" {% endif %} >{{ value }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="layui-col-xs8 layui-col-xs-offset2">
        <div class="layui-form-item">
          <label class="layui-form-label">边框颜色</label>
          <div class="layui-input-block">
              <select name="frame_color" xm-select="frame_color" xm-select-search="" xm-select-create="" id="frame_color" lay-verify="required" xm-select-radio="">
                <option value="" >请选择;如果没有需要的选项，请可以输入再选择</option>
                {% if panelset and panelset.frame_color != "银灰色" %}
                <option value="银灰色">银灰色</option>
                <option value="{{ panelset.frame_color }}" selected="selected" >{{ panelset.frame_color }}</option>
                {% elif panelset.frame_color == "银灰色" %}
                <option value="银灰色" selected="selected" >银灰色</option>
                {% else %}
                <option value="银灰色" >银灰色</option>
                {% endif %}
              </select>
          </div>
        </div>
      </div>
      <div class="layui-col-xs8 layui-col-xs-offset2">
        <div class="layui-form-item">
          <label class="layui-form-label">横驳条分别</label>
          <div class="layui-input-block">
              <select name="splicer" xm-select="splicer" xm-select-search="" xm-select-create="" >
                <option value="" >请选择;如果没有需要的选项，请可以输入再选择</option>
                <option value="" {% if panelset and splicer_list == "" %} selected="selected" {% endif %}>无横驳条</option>
                <option value="平门中门" {% if "平门中门" in panelset.splicer %} selected="selected" {% endif %}>平门中门</option>
                <option value="2400" {% if "2400" in panelset.splicer %} selected="selected" {% endif %} >2400</option>
                <option value="4800" {% if "4800" in panelset.splicer %} selected="selected" {% endif %} >4800</option>
                <option value="7200" {% if "7200" in panelset.splicer %} selected="selected" {% endif %} >7200</option>
                {% for splicer in splicer_list %}
                  {% if splicer not in common_splicer %}
                  <option value="{{splicer}}" selected="selected" >{{splicer}}</option>
                  {% endif %}
                {% endfor %} 
              </select>
          </div>
        </div>
      </div>
        <div class="layui-form-item" align="right">
            <button class="layui-btn" lay-submit lay-filter="add" style="width:10%;">保存</button>
            <button class="layui-btn" onclick="next_step()" type="button" style="width:10%;">下一步</button>
        </div>
    </div>
  </form>
</div>
{% endblock boby %}
{# 网页主体块 #}

{% block bottomfiles %}

<script type="text/javascript">
  var laydate = layui.laydate;
  //执行一个laydate实例
  laydate.render({
    elem: '#production_time' //指定元素
      ,min: 0 //限制时间
    });
</script>

<script type="text/javascript">
  var form = layui.form;
  form.render();
  var tableSelect = layui.tableSelect;
  tableSelect.render({
    elem: '#model_pick',
    checkedKey: 'id',
    searchKey: 'keyword',	//搜索输入框的name值 默认keyword
    table: {
      url: "{% url 'standard:modelsdata' %}",
      cols: [[
        { type: 'radio' , width: 80},
        { field: 'name', title: '型号名称' , width: 100 },
        { field: 'desc', title: '型号描述', width: 200 },
        { field: 'wheel_type', title: '屏风类型', width: 80},
        { field: 'basic_material', title: '基本板材', width: 80},
        { field: 'steel_plate', title: '钢板', width: 80 },
        { field: 'top_clearance', title: '底部虚位', width: 80, templet: function (d) { return d.top_clearance + "mm" } }
      ]]
    },
    
    done: function (elem, data) {
      var NEWJSON = []
      var MODELIDJSON = []
      var WHEELJSON = []
      var SERIESJSON = []
      layui.each(data.data, function (index, item) {
        NEWJSON.push(item.name)
        MODELIDJSON.push(item.id)
        WHEELJSON.push(item.wheel_type)
        SERIESJSON.push(item.series)
      })
      elem.val(NEWJSON)
      $("[name='model_id']").val(MODELIDJSON)
      $("[name='model_wheel_type']").val(WHEELJSON)
      $("[name='model_series']").val(SERIESJSON)
      add_wheel()
      structure()
    }
  });

</script>

<script type="text/javascript">
  $ = layui.jquery;
  var form = layui.form,
    layer = layui.layer;
  form.on('submit(add)',
    function (data) {
      data.field.csrfmiddlewaretoken = $("[name='csrfmiddlewaretoken']").val()
      data.field.project_id = $("[name='project_id']").val()
      data.field.model_id = $("[name='model_id']").val()
      data.field.panelset_id = $("[name='panelset_id']").val()
      //ajax请求
      $.post("{% url 'PDS:panelsetsadd' %}", data.field, function (data) {
        if (data.res == 2) {
              layer.alert("保存成功", {
                icon: 6,
                time: 2000, //2s后自动关闭
              },
              function () {
                // xadmin.close();
                // 写panelset_id,
                $("[name='panelset_id']").val(data.panelset_id);
                // 可以对父窗口进行刷新 
                // window.location.href = "{% url 'PDS:panelsetsaddsetp2' %}?panelset_id="+data.panelset_id;
              });
            }
            else {
              // 数据验证有问题
              layer.msg(data.errmsg, {
                time: 2000, //2s后自动关闭
              });
            }
          })
          return false;
      });
</script>

<script type="text/javascript">
  var formSelects = layui.formSelects;
  formSelects.render();
  formSelects.btns('wheel', []);
  formSelects.btns('sound_test', []);
  formSelects.btns('face_structure', []);
  formSelects.btns('frame_color', []);
  formSelects.btns('splicer', []);
  
  var model_wheel_type = $("[name='model_wheel_type']").val();

  if (model_wheel_type == "") {
    formSelects.data('wheel', 'local', {
    arr: [
    ]
  });
  }

  else if (model_wheel_type == "多向式") {
    formSelects.data('wheel', 'local', {
    arr: [
        {% for key, value in omni_wheel_choices %}
          {"name": "{{ value }}", "value": {{ key }} {% if panelset.wheel == key %} ,"selected":"selected" {% endif %}},
        {% endfor %}
    ]
  });
  }

  else if (model_wheel_type == "单向式") {
    formSelects.data('wheel', 'local', {
    arr: [
        {% for key, value in pair_wheel_choices %}
          {"name": "{{ value }}", "value": {{ key }} {% if panelset.wheel == key %} ,"selected":"selected" {% endif %}},
        {% endfor %}
    ]
  });
  }

</script>

<script type="text/javascript">
function add_wheel() {
  var formSelects = layui.formSelects;  
  var model_wheel_type = $("[name='model_wheel_type']").val();

  if (model_wheel_type == "") {
    formSelects.data('wheel', 'local', {
    arr: [
    ]
  });
  }

  else if (model_wheel_type == "多向式") {
    formSelects.data('wheel', 'local', {
    arr: [
        {% for key, value in omni_wheel_choices %}
          {"name": "{{ value }}", "value": {{ key }} {% if panelset.wheel == key %} ,"selected":"selected" {% endif %}},
        {% endfor %}
    ]
  });
  }

  else if (model_wheel_type == "单向式") {
    formSelects.data('wheel', 'local', {
    arr: [
        {% for key, value in pair_wheel_choices %}
          {"name": "{{ value }}", "value": {{ key }} {% if panelset.wheel == key %} ,"selected":"selected" {% endif %}},
        {% endfor %}
    ]
  });
  }
}

</script>

<script type="text/javascript">
// 这个函数用于下一页按钮,作用是把保存与下一页分开。
function next_step() {
  if ($("[name='panelset_id']").val()=="") {
    layer.msg("请保存基础资料", {
      time: 2000, //2s后自动关闭
    });
  }
  else {
    panelset_id = $("[name='panelset_id']").val()
    window.location.href = "{% url 'PDS:panelsetsaddsetp2' %}?panelset_id="+panelset_id;
    }
}
</script>

<script type="text/javascript">
// 这个函数用于下一页按钮,作用是把保存与下一页分开。
function structure() {
  if ($("[name='model_series']").val()=="600") {
    $("#structure").attr("style","display:block");
  }
  else {
    $("#structure").attr("style","display:none");
    $("#face_structure").val("");
    }
}
</script>

{% endblock bottomfiles %}
{# 网页底部引入块 #}
