{% extends 'base.html' %}
{% load staticfiles %}
{% block titlename %}HPFWMS-新建屏风{% endblock titlename %}
{% block topfiles %}
<style type="text/css">
  .layui-table-cell {
      height: auto;
  }
</style>
<script type="text/javascript" src="{% static 'lib/layui/layui.all.js' %}" charset="utf-8"> </script>
<script type="text/javascript" src="{% static 'lib/layui/tableSelect.js' %}" charset="utf-8"></script>
{% endblock topfiles %}
{% block bodyclass %} {% endblock bodyclass %}
{% block boby %}
<div class="layui-fluid">
    <form method="post" class="layui-form">
      {% csrf_token %}
      <input type="hidden" name="panelset_id" value="{{panelset_id}}">
      <input type="hidden" name="panel_id" value="{{panel.id}}">
      <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>屏风细节</legend>
      </fieldset>
      <div class="layui-form-item">
        <label class="layui-form-label">编号</label>
        <div class="layui-input-block">
          <input type="text" name="panle_no" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required" value="{{ panel.panle_no }}">
        </div>
      </div>
      <div class="layui-row">
        <div class="layui-form-item">
          <label class="layui-form-label">数量</label>
          <div class="layui-input-block">
            <input type="text" name="quantity" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required|number" value="{{ panel.quantity }}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">轮距</label>
          <div class="layui-input-block">
            <input type="text" name="carrier_space" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required|number" value="{{ panel.carrier_space }}">
          </div>
        </div>
        <div class="layui-form-item">
          <input type="hidden" name="pic_id" value="{{ panel.panel_pic.id }}">
          <label class="layui-form-label">屏风图元</label>
          <div class="layui-input-block">
            <input type="text" name="panel_pic" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required" id="pic_pick" value="{{ panel.panel_pic.name }}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">屏风长度</label>
          <div class="layui-input-block">
            <input type="text" name="panel_width" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required|number" value="{{ panel.panel_width }}">
          </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit lay-filter="add">保存</button>
            </div>
          </div>
      </div>
    </form>
  </div>

{% endblock boby %}
{# 网页主体块 #}

{% block bottomfiles %}

<script type="text/javascript">
  var form = layui.form;
  form.render();
  var element = layui.element;
	var tableSelect = layui.tableSelect;
	tableSelect.render({
		elem: '#pic_pick',
		checkedKey: 'id',
    searchKey: 'keyword',	//搜索输入框的name值 默认keyword
		table: {
			url: "{% url 'standard:picsdata' %}",
      height: 450,
			cols: [[
				{ type: 'radio' , width: 80},
				{ field: 'id', title: 'ID' , width: 80},
        { field: 'name', title: '型号名称' , width: 80},
        { field: 'pictype', title: '图元种类' , width: 80 ,templet: function (d) {
            if (d.pictype == '0') { return 'BP' }
            if (d.pictype == '1') { return 'LCP' }
            if (d.pictype == '2') { return 'BSP' }
            if (d.pictype == '3') { return 'WJ' }
            if (d.pictype == '4') { return 'UIPD' }
            if (d.pictype == '5') { return 'LIPD' }
            else { return 'FP' }
        }},
        { title: '图例显示',  templet:"#svgTpl"}
			]]
		},
		done: function (elem, data) {
			var NEWJSON = []
			var NEWID = []
			layui.each(data.data, function (index, item) {
				NEWJSON.push(item.name)
        NEWID.push(item.id)
			})
			elem.val(NEWJSON);
      $("[name='pic_id']").val(NEWID)
		}
	});
</script>

<script type="text/html" id="svgTpl">
  <div>
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="128" width="128" >
          <g stroke="black" stroke-width="1.5" fill="none">
              {% verbatim %}"{{d.leftsidecode}}"{% endverbatim %}
              {% verbatim %}"{{d.middlecode}}"{% endverbatim %}
              {% verbatim %}"{{d.wheelcode}}"{% endverbatim %}
              {% verbatim %}"{{d.rightsidecode}}"{% endverbatim %}
          </g>
      </svg>
  </div>
</script>

<script type="text/javascript">
      $ = layui.jquery;
      var form = layui.form,
        layer = layui.layer;
      form.render();

      //监听提交
      form.on('submit(add)',
        function (data) {
          data.field.csrfmiddlewaretoken = $("[name='csrfmiddlewaretoken']").val()
          data.field.pic_id = $("[name='pic_id']").val()
          data.field.panelset_id = $("[name='panelset_id']").val()
          data.field.panel_id = $("[name='panel_id']").val()
          //ajax请求
          $.post("{% url 'PDS:panelsadd' %}", data.field, function (data) {
            if (data.res == 2) {
              layer.alert("增加成功", {
                icon: 6
              },
              function () {
                  //关闭当前frame
                  xadmin.close();

                  // 可以对父窗口进行刷新 
                  xadmin.father_reload();
                });
            }
            else {
              // 数据验证有问题
              layer.msg(data.errmsg, {
                time: 2000, //2s后自动关闭
              });
            }

          })
          return false;
        });

  </script>
{% endblock bottomfiles %}
{# 网页底部引入块 #}