{% extends 'base.html' %}
{% load staticfiles %}
{% block titlename %}HPFWMS-新建项目第三步{% endblock titlename %}
{% block boby %}
<div class="layui-fluid">
  <div class="layui-row layui-col-space10" >
    <div class="layui-col-xs4">
      <button type="button" class="layui-btn layui-btn-lg" style="width:100%;">STEP1 基础资料</button>
    </div>
    <div class="layui-col-xs4">
      <button type="button" class="layui-btn layui-btn-lg" style="width:100%;">STEP2 屏风细节</button>
    </div>
    <div class="layui-col-xs4">
      <button type="button" class="layui-btn layui-btn-lg" style="width:100%;">STEP3 补充资料</button>
    </div>
  </div>
  <form method="post" class="layui-form">
    {% csrf_token %}
    <input type="hidden" name="panelset_id" value="{{ panelset_id }}">
    <input type="hidden" name="ipdinfo_id" value="{{ ipd.id }}">
    <div class="layui-row" style="margin-top: 20px;">
      <div class="layui-form-item">
        <label class="layui-form-label">装饰面说明</label>
        <div class="layui-input-block">
          <input type="text" name="decoration_text" placeholder="请输入" class="layui-input" autocomplete="off"value="{{panelset.decoration_text}}" >
        </div>
      </div>
      {% if panelset.has_ipd %}
      <div class="layui-form-item">
        <label class="layui-form-label">门中门门高</label>
        <div class="layui-input-block">
          <input type="text" name="doorheight" placeholder="请输入" lay-verify="required"  class="layui-input" autocomplete="off" value="{{ipd.doorheight}}" list="doorheight">
          <datalist id="doorheight">
            <option value="As height as possible(尽量高)">
            <option value="2100">
            <option value="2400">
            <option value="3000">
          </datalist>         
        </div>
      </div>
      <div class="layui-col-xs6">
        <div class="layui-form-item">
          <label class="layui-form-label">A面锁类型</label>
          <div class="layui-input-block">
            <select name="lockeroption_a" lay-verify="required">
              <option value=""></option>
              {% for key, value in Ipdinfo.LOCKER_OPTION_CHOICES %}
              <option value="{{ key }}" {% if ipd.lockeroption_a == key %} selected="selected" {% endif %}>{{ value }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="layui-col-xs6">
        <div class="layui-form-item">
          <label class="layui-form-label">B面锁类型</label>
          <div class="layui-input-block">
            <select name="lockeroption_b" lay-verify="required">
              <option value=""></option>
              {% for key, value in Ipdinfo.LOCKER_OPTION_CHOICES %}
              <option value="{{ key }}" {% if ipd.lockeroption_b == key %} selected="selected" {% endif %} >{{ value }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="layui-form-item">
        <label class="layui-form-label">备注说明</label>
        <div class="layui-input-block">
          <textarea name="note" id="edit" cols="30" rows="10">{{ panelset.note|safe }}</textarea>
        </div>
      </div>
    </div>
    <div class="layui-row layui-col-space10" align="right" style="margin-top: 20px;">
        <button class="layui-btn" type="button" onclick="prev_step()" style="width:10%;">上一步</button>
        <button class="layui-btn" lay-submit lay-filter="add" style="width:10%;">保存</button>
        <button class="layui-btn" type="button" onclick="finish()" style="width:10%;">关闭</button>
      </div>
    </div>
  </form>
</div>
{% endblock boby %}
{# 网页主体块 #}

{% block bottomfiles %}
<script type="text/javascript">
  // 这个函数用于上一页按钮。
  function prev_step() {
    panelset_id = $("[name='panelset_id']").val()
    window.location.href = "{% url 'PDS:panelsetsaddsetp2' %}?panelset_id=" + panelset_id;
  }

  function finish() {
    var id = $(window.frameElement).attr('tab-id');
    parent.element.tabDelete('xbs_tab', id);
    parent.location.reload();
  }
</script>

<script>
  layui.extend({
      tinymce: "{% static 'lib/layui/mods/tinymce/tinymce' %}"
  }).use(['tinymce', 'util', 'layer', 'form'], function () {
      var tinymce = layui.tinymce, form = layui.form, $ = layui.$;
      var edit = tinymce.render({
          elem: "#edit"
          , height: 300
          , width:'100%'
      });
      
      form.render();
      form.on('submit(add)',
      function (data) {
        data.field.csrfmiddlewaretoken = $("[name='csrfmiddlewaretoken']").val()
        data.field.panelset_id = $("[name='panelset_id']").val()
        data.field.ipdinfo_id = $("[name='ipdinfo_id']").val()
        data.field.note = edit.getContent()
        //ajax请求
        $.post("{% url 'PDS:step3' %}", data.field, function (data) {
          if (data.res == 2) {
            layer.alert("保存成功", {
              icon: 6,
              time: 2000, //2s后自动关闭
            },
            function () {
              $("[name='ipdinfo_id']").val(data.ipdinfo_id)
            }
          )}
          else {
            // 数据验证有问题
            layer.msg(data.errmsg, {
              time: 2000, //2s后自动关闭
            });
          }
        })
        return false;
      });
  });

</script>

{% endblock bottomfiles %}
{# 网页底部引入块 #}
