{% extends 'base.html' %}
{% load staticfiles %}
{% block titlename %}HPFWMS-项目列表{% endblock titlename %}
{# 网页顶部引入文件块 #}
{% block nav %}
<div class="x-nav">
    <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">项目管理</a>
        <a><cite>项目列表</cite></a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
        onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
{% endblock nav %}
{# 网页主体上侧块 #}

{% block boby %}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        {% csrf_token %}
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <table id="demo" lay-filter="test"></table>
                    {% verbatim %}
                    <script type="text/html" id="test-table-is_favorites">
                        <input type="checkbox" name="is_favorites" lay-skin="switch" lay-text="已收藏|未收藏" lay-filter="test-table-is_favorites" value="{{ d.project_id }}" {{ d.is_favorites == 1 ? 'checked' : '' }}>
                    </script>
                    {% endverbatim %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock boby %}
{# 网页主体块 #}

{% block bottomfiles %}
<script>
    layui.use('table', function () {
        var table = layui.table, form = layui.form,$ = layui.$;
        table.render({
            elem: '#demo'
            , url: "{% url 'project:favoritesdata' %}" //数据接口
            , cols: [[ //表头
                { field: 'xieliehao', width: 80, title: '序列号', type: 'numbers' }
                , { field: 'project_id', width: 160, title: '工程编号' }
                , { field: 'name', title: '工程名称' }
                , { field: 'user', title: '用户' }
                , { field: 'projectlocation', title: '区域' }
                , { field: 'address', title: '工程地址' }
                , { field: 'create_time', title: '创建时间' }
                , { field: 'is_favorites', title: '是否收藏' , templet: '#test-table-is_favorites' }
                , { fixed: 'right', title: '操作', width: 250, align: 'center', toolbar: '#barDemo' }
            ]]
        });

        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

            if (layEvent === 'detail') { //查看
                top.xadmin.add_tab(data.name + '-全部版本', '/project/projectdetail/' + data.project_id)

            }

            else if (layEvent === 'del') { //删除
                layer.confirm('真的删除行么', function (index) {
                    csrfmiddlewaretoken = $("[name='csrfmiddlewaretoken']").val()
                    project_id = data.project_id
                    $.post("{% url 'project:delete' %}", { 'csrfmiddlewaretoken': csrfmiddlewaretoken, 'project_id': project_id }, function (data) {
                        if (data.res == 2) {
                            obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                            layer.close(index);
                        }
                        else {
                            // 数据验证有问题
                            layer.msg(data.errmsg, {
                                time: 2000, //2s后自动关闭
                            });
                        }
                    })
                });
            }

            else if (layEvent === 'edit') { //编辑
                //do something
                xadmin.open('编辑项目', '{% url 'project:add' %}?project_id=' + data.project_id, 400, 400)

                //同步更新缓存对应的值
                obj.update({
                    username: '123'
                    , title: 'xxx'
                });
            }

            else if (layEvent === 'newVersion') { //新建
                layer.confirm('确认要新建版本？', function (index) {
                    top.xadmin.add_tab_version('版本编辑页面',"/PDS/editpdsversion/" +  data.project_id +  '/new')
                    layer.close(index);
                });
            }
            else if (layEvent === 'viewLast') { //最后版本
                layer.confirm('确认加载最后版本？', function (index) {
                    top.xadmin.add_tab_version('版本编辑页面',"/PDS/editpdsversion/" +  data.project_id +  '/last')
                    layer.close(index);
                });
            }
            else if (layEvent === 'viewPds') { //最后开工纸
                top.xadmin.add_tab_version(data.name + '-最新开工纸',"/project/viewpds/" +  data.project_id +  '/last')
            }
        });

        //监听收藏激活操作
        form.on('switch(test-table-is_favorites)', function(obj){
            var json = {};
            json.csrfmiddlewaretoken = $("[name='csrfmiddlewaretoken']").val()
            json.is_favorites = obj.elem.checked;
            json.project_id = this.value;
            // console.log(json)
            $.post("{% url 'project:favoritesactive' %}", json, function (data) {
                if (data.res == 2) {
                    layer.tips(obj.elem.checked, obj.othis);
                }
                else {
                    // 数据验证有问题
                    // layer.tips(obj.othis.checked, obj.elem);
                    layer.msg(data.errmsg, {
                        time: 2000, //2s后自动关闭
                    });
                }
            })
        });
    });
</script>

<!-- 操作列 -->
<script type="text/html" id="barDemo">
    <div class="layui-btn-group">
        {% verbatim %}
        {{ d.is_newversion == 1 ? '<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="newVersion">新建</a>':'' }}
        {{ d.is_newversion == 1 ? '':'<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="viewLast">最后</a>' }}
        {{ d.is_newversion == 1 ? '':'<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="viewPds">查看</a>' }}
        <a class="layui-btn layui-btn-xs" lay-event="detail">全部</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        {% endverbatim %}
    </div > 
</script>

{% endblock bottomfiles %}
{# 网页底部引入块 #}