{% extends 'base.html' %}
{% load staticfiles %}
{% block titlename %}HPFWMS-用户权限表{% endblock titlename %}

{% block nav %}
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">用户</a>
            <a><cite>用户权限表</cite></a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
        </a>
    </div>
{% endblock nav %}
{# 网页主体上侧块 #}

{% block boby %}
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <table id="demo" lay-filter="test"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock boby %}
{# 网页主体文件块 #}

{% block bottomfiles %}
    <script>
        layui.use('table', function(){
            var table = layui.table;
            table.render({
                elem: '#demo'
                ,height: 500
                ,url: "{% url 'user:permissiondata' %}" //数据接口
                ,page: true //开启分页
                ,cols: [[ //表头
                    {field:'xieliehao', width:80, title: '序列号',type:'numbers'}
                    ,{field: 'username', title: '用户名'}
                    ,{field: 'location', title: '项目区域'}
                    ,{fixed: 'right', title: '操作',width:200, align:'center', toolbar: '#barDemo'} 
                    ]]
                ,toolbar: true 
            });
        });
    </script>

    <!-- 操作列 -->
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

{% endblock bottomfiles %}
{# 网页底部引入文件块 #}

        