{% extends 'base.html' %}
{% load staticfiles %}
{% block titlename %}HPFWMS-用户注册{% endblock titlename %}
{% block topfiles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock topfiles %}
{% block bodyclass %}class="login-bg"{% endblock bodyclass %}
{% block boby %}
<div class="login layui-anim layui-anim-up">
  <div class="message">HPFWMS-用户注册</div>
  <div id="darkbannerwrap"></div>
  <form method="post" class="layui-form">
    {% csrf_token %}
    <div class="layui-form-item">
      <input name="username" placeholder="请输入用户名" type="text" lay-verify="required" class="layui-input">
    </div>
    <div class="layui-form-item">
      <input name="pwd" lay-verify="required" placeholder="请输入密码(6-21字母和数字)" type="password" class="layui-input">
    </div>
    <div class="layui-form-item">
      <input name="repwd" lay-verify="required" placeholder="请再次输入密码(6-21字母和数字)" type="password" class="layui-input">
    </div>
    <div class="layui-form-item">
      <input name="email" placeholder="请输入电邮地址(公司电邮)" type="text" lay-verify="required|email" class="layui-input">
    </div>
    <div class="layui-form-item">
      <select name="location" lay-verify="required">
        <option value="">请选择所在区域</option>
        {% for key , value in location_choices %}
          <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="layui-form-item">
      <input type="checkbox" name="allow" lay-skin="primary" title="我同意注册协议">
    </div>
    <div class="layui-form-item">
      <input value="注册" lay-submit lay-filter="register" style="width:100%;" type="submit">
    </div>
    <div align="center">
      已经有账户了？ <a href="{% url 'user:login' %}">点此登录</a>
    </div>
  </form>
</div>
{% endblock boby %}

{% block bottomfiles %}
<script>
  $(function () {
    layui.use('form', function () {
      var form = layui.form;
      form.on('submit(register)', function (data) {
        // 添加csrf_token
        data.field.csrfmiddlewaretoken = $("[name='csrfmiddlewaretoken']").val()
        // ajax请求
        $.post("{% url 'user:register' %}", data.field, function (data) {
          if (data.res == 9) {
            // 数据验证成功
            layer.msg('注册成功，请登录公司电邮并激活账号，<br> 注意:激活电邮可能会被视为垃圾邮件。', {
              time: 0, //不会自动关闭
              btn: ['关闭', '转到登陆页'],
              btn2: function () {
                //按钮【按钮二】的回调
                location.href = "{% url 'user:login' %}"
              }
            });
          }
          else {
            // 数据验证有问题
            layer.msg(data.errmsg, {
              time: 2000, //2s后自动关闭
            });
          }
        })
        return false;
      });
    });
  })
</script>
{% endblock bottomfiles %}